<section class="General">
    <h2 class="mt-5 mb-5">ข้อมูลพื้นฐาน</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <label for="">1.อายุ : </label>
                {% for i in age %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="age" value={{i[1]}} id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        {{i[0]}}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm">
                <label for="">2.เพศ : </label>
                {% for i in sex %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="sex" value={{i[1]}} id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        {{i[0]}}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm">
                <label for="">3.รายได้ส่วนบุคคลเฉลี่ยต่อเดือน : </label>
                {% for i in avg_income %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="avg_income" value={{i[1]}} id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        {{i[0]}}
                    </label>
                </div>
                {% endfor %}
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
</section>